{% block footer %}
    <div class="footer">
        <div class="copyright">
            <p>
                Copyright © STACK.BA | Developed by
                <a href="http://stack.ba" target="_blank">Stack.ba</a>
                {{ 'now' | date('Y') }}
            </p>
        </div>
    </div>
{% endblock %}