{% block footer %}
    <div class="footer">
        <div class="copyright">
            <p>
                Copyright © inana | Developed by
                Ivana Konta |
                {{ 'now' | date('Y') }}
            </p>
        </div>
    </div>
{% endblock %}